.team-member .profile-pic {
  width: 250px !important;
  height: 250px !important;
}

.team-member .details {
  height: 250px !important;
}

.text-center {
  text-align: center;
}

.item-collection {
  height: 450px;
  width: 90%;
  background-repeat: no-repeat;
}

#itemDescription {
  height: 120px !important;
}
